.header {
  position: relative;
  height: 70vh;
  min-height: 713px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  background-color: black;
}
.header .container {
  position: relative;
  height: 100%;
}
.navbarItems {
  display: list-item;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 5px;
}
.navbarMenu {
  list-style-type: none;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 20%;
  padding-top: 10px;
}
.header .headerContent {
  width: 100%;
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
}
.header .headerContent .headerSubtitle {
  font-weight: 200;
  font-size: calc(20px + (45 -20) * ((100vw - 300px) / (1600 - 300)));
}

.header .headerContent .headerTitle {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: .7;
  margin-bottom: 25px;
  color: inherit;
}
.header .headerContent .headermono {
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 40px;
}